
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <div class="navbar-text pull-left no-left-margin">
                    <a href="../website/templates/website-list.view.client.html">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
                <div class="navbar-header">
                    <div class="navbar-brand">
                        Pages
                    </div>
                </div>

            </div>
            <div class="col-sm-8 col-xs-6">

                <div class="navbar-text pull-right no-right-margin">
                    <a href="page-new.view.client.html">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Home</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Blog</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../widget/widget-list.view.client.html">Contact</a>
            <a href="page-edit.view.client.html">
                <span class="glyphicon glyphicon-cog pull-right"></span>
            </a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

            <div class="navbar-text pull-right">
                <a href="../user/templates/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
    </div>
</nav>
