<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left no-left-margin">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right no-right-margin">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>

        <div class="navbar-header">
            <div class="navbar-brand">
                Widget Edit
            </div>
        </div>

    </div>
</nav>

<div class="container">


    <div ng-switch="model.currentWidget.type">
        <div ng-switch-when="HEADER">
            <ng-include src="'views/widget/templates/editors/widget-HEADER-edit.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="IMAGE">
            <ng-include src="'views/widget/templates/editors/widget-IMAGE-edit.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/widget/templates/editors/widget-YOUTUBE-edit.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="HTML">
            <ng-include src="'views/widget/templates/editors/widget-HTML-edit.view.client.html'"></ng-include>
        </div>

        <div ng-switch-when="INPUT">
            <ng-include src="'views/widget/templates/editors/widget-INPUT-edit.view.client.html'"></ng-include>
        </div>
    </div>


</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>