<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-text pull-left no-left-margin">
            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand">
                Choose Widget
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.createWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('YOUTUBE')">Youtube</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('INPUT')">INPUT</a>
        </li>
    </ul>
</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
