<h1>Edit Header Element</h1>
<label for="name_header">Name</label>
<input ng-model="model.currentWidget.name" class="form-control" id="name_header" type="text" placeholder="name">
<label for="text_header">Text</label>
<input ng-model="model.currentWidget.text" class="form-control" id="text_header" type="text" placeholder="text">
<label for="size_header">Size</label>
<select ng-model="model.currentWidget.size" class="form-control" id="size_header">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
</select>
<a class="btn btn-danger btn-block btn-lg" ng-click="model.deleteWidget()">Delete</a>