<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

            <div class="navbar-text pull-left no-left-margin">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>

            <div class="navbar-text pull-right no-right-margin">
                <a href="widget-list.view.client.html">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

        <div class="navbar-header">
            <div class="navbar-brand">
                Widget Edit
            </div>
        </div>

    </div>
</nav>

<div class="container">

        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" placeholder="name">
        <label for="text">Text</label>
        <input class="form-control" id="text" type="text" placeholder="text">
        <label for="size">Size</label>
        <input class="form-control" id="size" type="number" placeholder="size">
        <a class="btn btn-danger btn-block btn-lg" href="widget-list.view.client.html">Delete</a>

</div>


<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">

        <div class="navbar-text pull-right">
            <a href="../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>

</nav>