
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left no-left-margin">
            <a href="../page/templates/page-list.view.client.html">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="widget-chooser.view.client.html">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <div class="navbar-brand">Widgets</div>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <div>
        <div class="rr-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>The Verge</h1>
    </div>


    <div>
        <div class="rr-toolbar">
            <a href="widget-heading.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h3>The Verge is technology media company</h3>
    </div>


    <div>
        <div class="rr-toolbar">
            <a href="widget-image.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src="https://fortunedotcom.files.wordpress.com/2011/10/the_verge1.jpeg?resize=550%2C395">
    </div>


    <div>
        <div class="rr-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eget diam iaculis tempus.
            Cras a porttitor ipsum. Fusce id ligula sollicitudin, bibendum mauris a, bibendum tortor.
            Nulla bibendum non turpis id iaculis. Sed malesuada placerat elit. Praesent nec ultricies ipsum.
            Proin placerat nibh quis risus lacinia sagittis vitae ac purus. Pellentesque vulputate rhoncus tellus, viverra lacinia ligula tristique eget.
            Aliquam faucibus eu enim vel lobortis.
            Nam lacinia lectus et odio scelerisque ultrices. Maecenas viverra volutpat erat convallis mattis.
            Ut accumsan mauris lorem, ac convallis quam venenatis sed. Ut convallis leo sapien. Fusce volutpat venenatis vulputate.

            Duis vulputate magna neque, vehicula hendrerit nisi luctus ut. Suspendisse efficitur a arcu a placerat.
            Maecenas pretium quis mauris sit amet maximus. Quisque tempus consectetur enim. Morbi venenatis tortor sit amet blandit accumsan.
            Vestibulum bibendum, nisi nec ullamcorper mattis, sem magna accumsan nisl, vitae sagittis neque nisl at leo.
            Maecenas blandit vestibulum elit, et posuere libero eleifend vitae. Phasellus sed enim laoreet, pretium est ac, tincidunt mi.
            Vestibulum in tincidunt orci. Etiam ut viverra est.</p>
    </div>


    <div>
        <div class="rr-toolbar">
            <a href="widget-youtube.view.client.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" height="50%" src="https://www.youtube.com/embed/YoV4HbMFAZI" frameborder="0" allowfullscreen></iframe>
    </div>


    <div>
        <div class="rr-toolbar">
            <a>
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eget diam iaculis tempus.
            Cras a porttitor ipsum. Fusce id ligula sollicitudin, bibendum mauris a, bibendum tortor.
            Nulla bibendum non turpis id iaculis. Sed malesuada placerat elit. Praesent nec ultricies ipsum.
            Proin placerat nibh quis risus lacinia sagittis vitae ac purus. Pellentesque vulputate rhoncus tellus, viverra lacinia ligula tristique eget.
            Aliquam faucibus eu enim vel lobortis.
            Nam lacinia lectus et odio scelerisque ultrices. Maecenas viverra volutpat erat convallis mattis.
            Ut accumsan mauris lorem, ac convallis quam venenatis sed. Ut convallis leo sapien. Fusce volutpat venenatis vulputate.

            Duis vulputate magna neque, vehicula hendrerit nisi luctus ut. Suspendisse efficitur a arcu a placerat.
            Maecenas pretium quis mauris sit amet maximus. Quisque tempus consectetur enim. Morbi venenatis tortor sit amet blandit accumsan.
            Vestibulum bibendum, nisi nec ullamcorper mattis, sem magna accumsan nisl, vitae sagittis neque nisl at leo.
            Maecenas blandit vestibulum elit, et posuere libero eleifend vitae. Phasellus sed enim laoreet, pretium est ac, tincidunt mi.
            Vestibulum in tincidunt orci. Etiam ut viverra est.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget nulla eget diam iaculis tempus.
            Cras a porttitor ipsum. Fusce id ligula sollicitudin, bibendum mauris a, bibendum tortor.
            Nulla bibendum non turpis id iaculis. Sed malesuada placerat elit. Praesent nec ultricies ipsum.
            Proin placerat nibh quis risus lacinia sagittis vitae ac purus. Pellentesque vulputate rhoncus tellus, viverra lacinia ligula tristique eget.
            Aliquam faucibus eu enim vel lobortis.
            Nam lacinia lectus et odio scelerisque ultrices. Maecenas viverra volutpat erat convallis mattis.
            Ut accumsan mauris lorem, ac convallis quam venenatis sed. Ut convallis leo sapien. Fusce volutpat venenatis vulputate.


        </p>
    </div>


</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">

        <div class="navbar-text pull-left">
            <a href="#">
                <span class="glyphicon glyphicon-play"></span>
            </a>
        </div>
        <div class="navbar-text pull-left">
            <a href="#">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="../user/templates/profile.view.client.html">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>


</nav>

